@tailwind base;
@tailwind components;
@tailwind utilities;

/* Lists & Paragraphs */

@font-face {
  font-family: 'ProductSans';
  src: url('/assets/fonts/ProductSans-Regular.ttf');
}
@font-face {
  font-family: 'ProductSansBold';
  src: url('/assets/fonts/ProductSans-Bold.ttf');
}
@font-face {
  font-family: 'ProductSansItalic';
  src: url('/assets/fonts/ProductSans-Italic.ttf');
}
@font-face {
  font-family: 'ProductSansBoldItalic';
  src: url('/assets/fonts/ProductSans-BoldItalic.ttf');
}

* {
  font-family: 'ProductSans';
}

h1 {
  font-family: 'ProductSansBold';
}

ul {
  list-style-type: disc;
  list-style-position: inside;
}

main {
  min-height: 90vh;
  background-color: whitesmoke;
  color: black;
}

.slant-y {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
  margin-bottom: -10vw;
}

.slant-x {
  clip-path: polygon(0 100%, 0 0, 100% 0, calc(100% - 10vh) 100%);
  -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, calc(100% - 10vh) 100%);
  margin-left: -10vw;
}
